# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*appdaemon
!*custom_components
!*lovelace
!*packages
!*templates
!*themes

# Ignore folders.
.storage
.cloud
.google.token
.dev
.deps
.tts
.www
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
zones.yaml
*.txt
*.sqlite
*www/lovelace-card-mod
